<!DOCTYPE html>
<html>
<head>
    <!--
    * Author:         Panda
    -->
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="Panda" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="Panda's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link type="image/png"href="/images/favicon.png" rel="shortcut icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/js/yunlogo.js" type="text/javascript"></script>
</head>
<body>

    <div id="logo-bg" class="logo-bg">
        <canvas id="yugen-logo-canvas" style="" width="320" height="160"></canvas>
        <canvas id="yugen-shadow-canvas" style="display: none;"></canvas>
    </div>
    <div class="logo">
        <h1>
            <a href="/" rel="nofollow">Panda</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </h1>
    </div>
    <div class="home-contact">
        <a href="http://weibo.com/210120513" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
        <a href="http://www.douban.com/people" target="_blank" style="text-align:center;"><img src="http://www.douban.com/favicon.ico" alt="" width="22"/></a>
        <a href="http://instagram.com/" target="_blank" style="text-align:right"><img src="http://d36xtkk24g8jdx.cloudfront.net/bluebar/00c6602/images/ico/favicon.ico" alt="" width="22"/></a>
    </div>
    {{ content }}

    <script type="text/javascript">
        $(function(){
            $('.home-follow').click(function(e){
                e.preventDefault();

                if($('.home-contact').is(':visible')){
                    $('.home-contact').slideUp(100);
                }else{
                    $('.home-contact').slideDown(100);
                }
            });
            YugenLogo.initialize( {
                framerate: 60,
                width: 320,
                height: 160,
                colorSpeedFactor: 0.4,
                morphSpeedFactor: 0.4,
                introSpeedFactor: 2,
                outroSpeedFactor: 2,
                morphStrengthFactor: 0.8,
                morphBaseSpeedFactor: 0.2,
                normalOffsetFactor: 1.5,
                maxShapeRotation: 0.2,
                wordOffsetX: 0,
                wordOffsetY: 0,
                wordScale: 1,
                foregroundScaleX: 0.42,
                foregroundScaleY: 0.21,
                backgroundScaleX: 0.36,
                backgroundScaleY: 0.21,
                shadowAlpha: 0.1,
                shapeQuality: 9,
                containerID: "logo-bg",
                logoCanvasID: "yugen-logo-canvas",
                colors:[
                    [new YugenLogo.util.Color(240, 240, 240), new YugenLogo.util.Color(0, 0, 0)],
                    [new YugenLogo.util.Color(0, 0, 0), new YugenLogo.util.Color(240, 240, 240)]
                ],
                inputs: [
                    YugenLogo.input.move,
                    YugenLogo.input.press
                ],
                fallbackImages: []
            });
        })
    </script>
    <div class="home-footer">
        ©2016 <a href="/">熊猫技术博客</a>｜京ICP备14042769号 
    </div>
    <div style="display:none;">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257636841'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1257636841%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</body>
</html>
